.content_wrapper
{
    max-width: 717px;
    margin: 0 auto;
}

.logo
{
    margin-top: 60px;
    margin-bottom: 90px;
    font-family: 'Crete Round', serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 43px;
    color: #060C31;
}

.content_title
{
    max-width: 497px;
    font-family: 'Crete Round', serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 2.9px;
    color: #060C31;
}

.text
{
    margin-top: 36px;
    margin-bottom: 48px;
    max-width: 497px;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #060C31;
}

.button
{
    border-radius: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    padding: 16px 36px;
    text-decoration: none;
}

.button_blue
{
    background: #233FE2;
    border: none;
    color: #FFFFFF;
}

.button_light
{
    border: 1px solid #FFB0B1;
    margin-left: 20px;
    color: black;
}

.photo
{
    margin-top: 28px;
    width: 717px;
    height: 569px;
    left: 451px;
    top: 631px;
}