/*
*
{
    margin: 0;
    padding: 0;
}
*/

.top_block
{
    background-image: url('../images/brydon.jpg');
    background-size: cover;
    height: 977px;

}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 30px 86px;
    align-items: center;
}

.text
{
max-width: 801px;
padding-left: 120px;
padding-top: 293px;

}

.menu_link
{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 40px;
text-decoration: none;
}

.text_title
{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 110%;
color: #FFFFFF;
}

.menu_text
{
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 23.4848px;
line-height: 121.19%;
color: #FFFFFF;
display: flex;
align-items: center
}

.arrow
{
    background: url('../images/Arrow.svg');
    height: 18px;
    width: 21px;
}

.box
{
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    height: 430px;
    align-items: center;
    padding-left: 171px;
    padding-right: 170px;
}

.mailing
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110%;
    color: #000000;
    max-width: 585px;
}

.frame
{
    width: 441px;
    height: 65px;
    background: #fff;
    font-family: Open Sans;
    font-size: 20px;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 5.39553px;
    padding: 21.5821px 26.9776px;
}

.button
{
    padding: 21.5821px 40.4665px;
    background: #003BD1;
    border-radius: 5.39553px;
    font-family: Open Sans;
    text-align: center;
    color: #FFFFFF;
    margin-left: 22px;
    border: 0;
    font-size: 20px;
}

.form
{
    display: flex;
    justify-content: flex-start;
}